doctype html
include ../utility/mixins
head
    block title
        title Salon Landing Page
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block styles
        link(rel="stylesheet" href="css/font-awesome.min.css")
        link(rel="stylesheet" href="css/styles.css")
body
    .container
        include ../layout/header
        include ../layout/banner
        include ../layout/navbar
        block content
    block scripts
        script(src="js/lib/jquery.min.js")
        script(src="js/lib/bootstrap.js")
        script(src="js/lib/underscore-min.js")
        script(src="js/lib/moment.min.js")
        script(src="js/lib/clndr.js")
        script(src="js/lib/time.js")
        script(src="js/script.js")