extends pug/template
include pug/utility/mixins
append styles
    link(rel="stylesheet" type="text/css" media="all" href="css/style.css")
append content
    - var breadcrumbs = ["Home","All Products"]
    p#breadcrumbs
        +mixBreadcrumb(breadcrumbs)
    .inner-container.clearfix
        #all-product
            h3
                span All Products
                a.list List #[span &nbsp;]
                a.grid Grid #[span &nbsp;]
            ul.clearfix.grid-view
                li.product
                    a.thumb(href="#")
                        img(src="images/products/product-2.jpg")
                    .data
                        a.title(href="#") Lorem ipsum
                        p Aliquam dignissim porttitor tortor non fermentum. Curabitur in magna lectus. Duis sed eros diam. Lorem ipsum dolor sit amet, consectetur. Aliquam dignissim porttitor tortor non fermentum. Curabitur in magna lectus. Duis sed eros diam. Lorem ipsum dolor sit amet, consectetur. Curabitur in magna lectus. Duis sed eros diam. Lorem ipsum dolor sit amet, consectetur.
                        .clearfix.info
                            a.add-to-cart(href="#") ADD TO CART
                            span.price-text $ #[span 70]
                li.product
                    a.thumb(href="#")
                        img(src="images/products/product-3.jpg")
                    .data
                        a.title(href="#") Lorem ipsum
                        p Aliquam dignissim porttitor tortor non fermentum. Curabitur in magna lectus. Duis sed eros diam. Lorem ipsum dolor sit amet, consectetur. Aliquam dignissim porttitor tortor non fermentum. Curabitur in magna lectus. Duis sed eros diam. Lorem ipsum dolor sit amet, consectetur. Curabitur in magna lectus. Duis sed eros diam. Lorem ipsum dolor sit amet, consectetur.
                        .clearfix.info
                            a.add-to-cart(href="#") ADD TO CART
                            span.price-text $ #[span 70]
                li.product.last
                    a.thumb(href="#")
                        img(src="images/products/product-4.jpg")
                    .data
                        a.title(href="#") Lorem ipsum
                        p Aliquam dignissim porttitor tortor non fermentum. Curabitur in magna lectus. Duis sed eros diam. Lorem ipsum dolor sit amet, consectetur. Aliquam dignissim porttitor tortor non fermentum. Curabitur in magna lectus. Duis sed eros diam. Lorem ipsum dolor sit amet, consectetur. Curabitur in magna lectus. Duis sed eros diam. Lorem ipsum dolor sit amet, consectetur.
                        .clearfix.info
                            a.add-to-cart(href="#") ADD TO CART
                            span.price-text $ #[span 70]
                li.product
                    a.thumb(href="#")
                        img(src="images/products/product-5.jpg")
                    .data
                        a.title(href="#") Lorem ipsum
                        p Aliquam dignissim porttitor tortor non fermentum. Curabitur in magna lectus. Duis sed eros diam. Lorem ipsum dolor sit amet, consectetur. Aliquam dignissim porttitor tortor non fermentum. Curabitur in magna lectus. Duis sed eros diam. Lorem ipsum dolor sit amet, consectetur. Curabitur in magna lectus. Duis sed eros diam. Lorem ipsum dolor sit amet, consectetur.
                        .clearfix.info
                            a.add-to-cart(href="#") ADD TO CART
                            span.price-text $ #[span 70]
                li.product
                    a.thumb(href="#")
                        img(src="images/products/product-6.jpg")
                    .data
                        a.title(href="#") Lorem ipsum
                        p Aliquam dignissim porttitor tortor non fermentum. Curabitur in magna lectus. Duis sed eros diam. Lorem ipsum dolor sit amet, consectetur. Aliquam dignissim porttitor tortor non fermentum. Curabitur in magna lectus. Duis sed eros diam. Lorem ipsum dolor sit amet, consectetur. Curabitur in magna lectus. Duis sed eros diam. Lorem ipsum dolor sit amet, consectetur.
                        .clearfix.info
                            a.add-to-cart(href="#") ADD TO CART
                            span.price-text $ #[span 70]
                li.product.last
                    a.thumb(href="#")
                        img(src="images/products/product-7.jpg")
                    .data
                        a.title(href="#") Lorem ipsum
                        p Aliquam dignissim porttitor tortor non fermentum. Curabitur in magna lectus. Duis sed eros diam. Lorem ipsum dolor sit amet, consectetur. Aliquam dignissim porttitor tortor non fermentum. Curabitur in magna lectus. Duis sed eros diam. Lorem ipsum dolor sit amet, consectetur. Curabitur in magna lectus. Duis sed eros diam. Lorem ipsum dolor sit amet, consectetur.
                        .clearfix.info
                            a.add-to-cart(href="#") ADD TO CART
                            span.price-text $ #[span 70]
        #sidebar
            - var categories = ["Bags","Shoes","Lorems","Ipsums","Dresses","Jewellery","Furniture"]
            +mixSidebar("CATEGORIES",categories)
    +mixPagination(7,1)
append scripts
    script(type="text/javascript" src="js/script.js")