extends pug/template/template
include pug/utility/mixins
append styles
    link(rel="stylesheet" type="text/css" media="all" href="css/style.css")
append content
    - var breadcrumbs = ["Home","Blog"]
    include pug/component/breadcrumb
    .inner-container.clearfix
        include pug/layout/blog
        #sidebar
            - var categories = ["Bags","Shoes","Lorems","Ipsums","Dresses","Jewellery","Furniture"]
            div
                +mixSidebar("CATEGORIES",categories)
            - var archives = ["July 2011","June 2011","May 2011","April 2011","March 2011","February 2011","January 2011"]
            div
                +mixSidebar("ARCHIVES",archives)
    +mixPagination(7,1)
append scripts
    script(type="text/javascript" src="js/script.js")