extends pug/template/template
include pug/utility/mixins
append styles
    link(rel="stylesheet" type="text/css" media="all" href="css/style.css")
append content
    - var breadcrumbs = ["Home","CheckOut"]
    include pug/component/breadcrumb
    .inner-container.clearfix
        include pug/layout/checkout

append scripts
    script(type="text/javascript" src="js/script.js")