extends pug/template
include pug/utility/mixins
append styles
    link(rel="stylesheet" type="text/css" media="all" href="css/style.css")
append content
    - var breadcrumbs = ["Home","Products","Sample Product"]
    p#breadcrumbs
        +mixBreadcrumb(breadcrumbs)
    .inner-container.clearfix
        include pug/layout/product
        #sidebar
            - var categories = ["Bags","Shoes","Lorems","Ipsums","Dresses","Jewellery","Furniture"]
            +mixSidebar("CATEGORIES",categories)
    include pug/component/product-tabs
    -
        var imgPathProduct = "images/products/";
        var relatedList = [
            {
                "img" : imgPathProduct+"product-2.jpg",
                "product-name" : "Lorem ipsum",
                "product-price" : 118
            },
            {
                "img" : imgPathProduct+"product-6.jpg",
                "product-name" : "Lorem ipsum",
                "product-price" : 90
            },
            {
                "img" : imgPathProduct+"product-4.jpg",
                "product-name" : "Lorem ipsum",
                "product-price" : 120
            },
            {
                "img" : imgPathProduct+"product-8.jpg",
                "product-name" : "Lorem ipsum",
                "product-price" : 70
            }
        ]
    +mixProductList("RELATED",relatedList)
append scripts
    script(type="text/javascript" src="js/script.js")