extends template/site
block title
    title PSSV Introduction
block main
    //Lazy Loading
    //The number of slides that are preloaded is determined by the viewDistance configuration option
    //To enable lazy loading all you need to do is change your "src" attributes to "data-src"
    .reveal
        .slides
            include ./layout/slides/slide-001
                


