#banner
    img.banner-img(src="images/Banner.png")
    .row.avatar
        .col-xss-5.col-xs-3.col-sm-2
            .avatar-img
                img(src="images/HandsSpaManicure.jpg")
        .col-xs-6
            h1 Posh Nails