#header
    .logo
        .row
            .col-md-3
                a.big-text(href="#") Goto
                a.small-text mySalon
            .col-md-5.text-center.visible-md.visible-lg
                input(type="text" placeholder="Salon/City/ZIP code")
                a.btn-search(href="#") Search
            .col-md-4.text-right.visible-md.visible-lg
                img.header-icon(src="images/Login_icon.png")
                a.login-text.mr-5(href="#") Log in
                img.header-icon(src="images/Signup_icon.png")
                a.login-text(href="#") Sign up
