#home-content
    .row
        .col-md-7
            .row
                .col-xs-12
                    h1.mt-0 Posh Nails
                .col-xss-10.col-xs-5
                    p.address.ml-2 14D21 Conlan Circle Suite B-4 Charlotte, NC, 28277
                    p.tel.ml-2 (+1)7045442008
                    p.email.ml-2 Poshnailsandspa704@gmail.com
                .col-xs-7.hidden-xss-down
                    .label-card.hidden-xss
                        img.card-bg(src="images/Asset-3.png")
                        img.pinin(src="images/pinin.png")
                        .card-content
                            h1 REFER A FRIEND
                            p to receive
                            h1.percent 20% #[img.ml-1(src="images/OFF.png")]
            .row
                .col-xs-12
                    h1 Working Time
                .col-xss-10.col-xs-5
                    +mixWorkingTime
                .col-xs-7.hidden-xss-down
                    .label-card
                        img.card-bg(src="images/Asset-3.png")
                        img.pinin(src="images/pinin.png")
                        .card-content
                            h2 3-Hour Full Body Pamper Package
                            p.big Only
                                h1.money
                                    small $
                                    | 99
        .col-md-5.visible-md.visible-lg
            .embed-responsive.embed-responsive-4by3
                iframe.embed-responsive-item(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25295.930156304785!2d16.371063311644324!3d48.208404844730474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d07986fcad78b%3A0x73f5a4d267cc4174!2zTmFnbGVyZ2Fzc2UgMTAsIDEwMTAgV2llbiwg0JDQstGB0YLRgNC40Y8!5e0!3m2!1sru!2sua!4v1453294615596" allowfullscreen)