section#banners.d-flex.align-items-stretch
    .container-fluid
        img.banner__img(src=require("../../images/banner_shoe.png"))
        .row.align-items-center
            .col-6.ml-auto
                p.banner__price From $80.00
                p.banner__title Nike Air Max
                p.banner__subtitle 50 Variants
                p.banner__desc Since this is our favourite sneaker, we're bringing you 50 variants to suit everyone's needs
                a.button--primary(href="#") Browse variants

