section#features
    .container
        .row
            .col-6.left
                img.img-fluid(src=require("../../images/feauture_04.png"))
                p.title Discover the new #[span nike kyrie 3]
                a.btn-blue(href="#") View collection
            .col-6.right
                .row
                    .col
                        img(src=require("../../images/feauture_01.png"))
                        p.title Check out the #[span new arrivals]
                        a.btn-primary(href="#") discovery
                .row
                    .col-6
                        img(src=require("../../images/feauture_02.png"))
                        p.title Best for #[span Athletes]
                    .col-6
                        img(src=require("../../images/feauture_03.png"))
                        p.title Feel #[span premium]

