section#news
    .container
        h1.text-center latest news
        .row
            .col
                p.date dec 27, 2017
                p.title Lorem ipsum dolor sit amet consectetur adipiscing elit
                span.commnent
                    i.icon.ion-ios-chatboxes-outline
                    | 24 Comments
            .col
                p.date dec 27, 2017
                p.title Lorem ipsum dolor sit amet consectetur adipiscing elit
                span.commnent
                    i.icon.ion-ios-chatboxes-outline
                    | 24 Comments
            .col
                p.date dec 27, 2017
                p.title Lorem ipsum dolor sit amet consectetur adipiscing elit
                span.commnent
                    i.icon.ion-ios-chatboxes-outline
                    | 24 Comments
