body{
  font-family: $font-stack-primary;
  font-weight: 400;
}
h1, h2, h3, h4 {
  font-weight: bold;
  letter-spacing: 2px;
}
.heading {
  font-size: 20px;
}
.subheading {
  font-size: 14px;
  font-weight: bold;

}
.bold {
  font-weight: bold;
}
p {
  line-height: 28px;
  font-size: 15px;
}
.medium-icon {
  font-size: 32px !important;
}
.section-title {
  h1 {
    font-size: 24px;
  }
  strong{
    color: #00C6D7;
    font-size: 56px;
  }
}
#home{
  h1{
    font-size: 40px;
  }
  h3{
    font-size: 14px;
  }
  @media (max-width: 440px) {
    h1{
      font-size: 22px;
    }
    h3{
      font-size: 12px;
    }
  }
}

#work{
  h3{
    font-size: 18px;
  }
}

#team{
  h3{
    color: #00c6d7;
    font-size: 14px;
    font-weight: bold;
  }
}

#pricing{
  h2{
    font-size: 52px;
  }
  h3{
    font-size: 16px;
  }
  .plan{
    span{
      font-size: 16px;
    }
    .plan_title{
      font-weight: 300;
      letter-spacing: 2px;
      padding: 30px;
    }
    ul{
      li{
        font-weight: 500;
      }
    }
  }
}



#contact{
  h3{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
  }
}

