section#tera-using
    .container
        .row.justify-content-start.text-center
            .col-12.col-md-6.animate
                h2 Su dung thu dich vu ngay hom nay
                p Mien phi #[span 15] Ngay dung thu
                .row.using-reg
                    .col-12
                        p: a(href="#") Dang ky ngay #[span.arrow_right(aria-hidden="true")]
                h4
                    span.icon_phone(aria-hidden="true")
                    div(style="border-bottom: solid 1px white; display; inline-block") 0976009346
            .col-12.col-md-6.animate
                img.img-fluid(src="images/PerspectiveAppScreensMock-Up.png")