extends pug/template
block title
    title Tera New Landing Page
block content
    include pug/layout/modal
    include pug/layout/step
    include pug/layout/loi-ich
    include pug/layout/pros
    include pug/layout/price
    include pug/layout/demo
    include pug/layout/chinhsach
    include pug/layout/about
    include pug/layout/client
    include pug/layout/using
    include pug/layout/video
    include pug/component/scrolltop






