extends template/site
block title
    title PSSV Introduction
block main
    //Lazy Loading
    //The number of slides that are preloaded is determined by the viewDistance configuration option
    //To enable lazy loading all you need to do is change your "src" attributes to "data-src"
    .reveal
        .slides
            section
                h1 Slide 1
            section
                section
                    h2 Slide 2.1
                section 
                    h3 Slide 2.2
                


