extends pug/template
block append styles
    link(rel="stylesheet" href="css/scss/style.css")
block content
    include pug/components/home
    include pug/components/work
    include pug/components/about
    include pug/components/team
    include pug/components/portfolio
    include pug/components/price
    include pug/components/contact
block append scripts
    script(src="js/custom.js")