extends template
block append styles
    link(rel="stylesheet" href="css/style.css")
block content
    include partials/home
    include partials/work
    include partials/about
    include partials/team
    include partials/portfolio
    include partials/price
    include partials/contact
block append scripts
    script(src="js/custom.js")