extends pug/template
block title
    title ESMS - Page Voice
block content
    section#sms-banner
        .row.no-gutters
            .col-12.col-md-6.push-md-6.text-right
                img.img-fluid(src="images/tr-sms-banner-bg-n.png")
            .col-12.col-md-6.pull-md-6.text-center.align-self-center.p-lg-4
                h1 Giai phap goi tu dong EVOICE
                p La giai phap giup doanh nghiep tao cac cuoc goi tu dong den khach hang de nhac nho, canh bao va tuong tac voi khach hang
                .row
                    .col-12.col-md-6.text-lg-right
                        a.btn.btn-trans(href="#") Xem Demo
                    .col-12.col-md-6
                        a.btn.btn-trans(href="#") Dang ky su dung
    section#sms-features
        .container
            .row.hidden-sm-up
                .col-12
                    .text-center Tinh nang va uu diem cua dich vu goi tu dong evoice
            .row
                .col-12.col-md-6
                    img.img-fluid(src="images/sms-features.png" alt="eVoice Features")
                .col-12.col-md-6
                    h1.text-left.hidden-sm-down Tinh nang va uu diem cua dich vu goi ti dong - evoice
                    ul
                        li Cho phep doanh nghiep tu thu am cuoc goi can phat ra, hoac yeu cau eSMS ho tro
                        li trong cuoc goi co the kem cac bien nhu ma xac thuc, so tien
                        li chi tinh phi khach hang khi bat may
                        li co the tuy chon goi lai sau x phut neu khach hang chua bat may
                        li co the tuy chon lai lai cuoc goi x lan
                        li cho phep lay phan hoi cua khach hang thong qua phim bam
                        li co the bao cao trang thai cuoc goi: da bat may, dang ban, tu choi...
    section#sms-performance
        .container
            h1.text-center Hieu nang va bao mat
            .row.pt-lg-2
                .col-12
                    .row
                        .col-12.col-md-6.col-lg-3.py-3
                            img.img-fluid(src="images/multi-people.png")
                            p Dang ung dong thoi hon #[span.num 500] cuoc goi cung luc. Co the nang cap khi traffic tang
                        .col-12.col-md-6.col-lg-3.py-3
                            img.img-fluid(src="images/99-percent.png")
                            p Dam bao #[span.num 99] % uptime
                        .col-12.col-md-6.col-lg-3.py-3
                            img.img-fluid(src="images/ssl-sha.png")
                            p Ma hoa #[span.char SSL SHA-256]
                        .col-12.col-md-6.col-lg-3.py-3
                            img.img-fluid(src="images/black-list.png")
                            p Cho phep thiet lap #[span.char Black List]
    section#sms-app
        h1.text-center Cac ung dung cua dich vu goi tu dong evoice
        .row.no-gutters
            .col-12
                .row.no-gutters
                    .col-12.col-md-6.app-1
                        .row.no-gutters
                            .col-12.col-lg-6.img-arr-1
                                img(src="images/app-1.png")
                            .col-12.col-lg-6.align-self-center
                                .app-cnt
                                    h3 Doc Ma xac nhan
                                    p Dich vu goi dien cho khach hang va doc ma xac nhan, neu khach hang doc dung thi kich hoat dich vu
                                span.tr-arrow-left.hidden-md-down &#x45;
                                span.tr-arrow-top.hidden-lg-up &#x43;
                    .col-12.col-md-6.app-2
                        .row.no-gutters
                            .col-12.col-lg-6.img-arr-1
                                img(src="images/app-2.png")
                            .col-12.col-lg-6.align-self-center
                                .app-cnt.large
                                    h3 Xac nhan don hang
                                    p He thong tu dong goi den hang loat khach hang, yeu cau khach hang ban 1 de xac nhan don hang, bam 0 de huy
                                    p Khach hang bam phim, he thong se ghi nhan duoc thong tin ma khach hang da xac nhan
                                span.tr-arrow-left.hidden-md-down &#x45;
                                span.tr-arrow-top.hidden-lg-up &#x43;
                .row.no-gutters
                    .col-12.col-md-6.app-3
                        .row.no-gutters
                            .col-12.col-lg-6.push-lg-6.img-arr-2
                                img(src="images/app-3.png")
                            .col-12.col-lg-6.pull-lg-6.align-self-center
                                .app-cnt
                                    h3 Canh bao
                                    p Lap trinh tu dong goi cho nguoi lien quan trong tinh huong khan cap nhu Server bi tat
                                span.tr-arrow-right.hidden-md-down &#x44;
                                span.tr-arrow-top.hidden-lg-up &#x43;
                    .col-12.col-md-6.app-4
                        .row.no-gutters
                            .col-12.col-lg-6.push-lg-6.img-arr-2
                                img(src="images/app-4.png")
                            .col-12.col-lg-6.pull-lg-6.align-self-center
                                .app-cnt.large
                                    h3 Nhac nho
                                    p Goi nhac lich hen
                                    p Goi nhac no qua han
                                span.tr-arrow-right.hidden-md-down &#x44;
                                span.tr-arrow-top.hidden-lg-up &#x43;
    section#sms-using
        h1.text-center Cach su dung dich vu goi tu dong evoice
        .container
            .row
                .col-12.col-md-6(style="margin: 15px 0;")
                    .img-rounded
                        img(src="images/using-1.png")
                        ul
                            li Thong qua API
                .col-12.col-md-6(style="margin: 15px 0;")
                    .img-rounded
                        img(src="images/using-2.png")
                        ul
                            li Tao cuoc goi ngay tren Website
    section#sms-contact
        .container
            .col-12
                h1 Lien he
                p #[span(aria-hidden="true") &#xe08a;] Dinh Thai Ha
                p #[span(aria-hidden="true") &#xe090;] 0976.009.346
                p #[span(aria-hidden="true") &#xe0d0;] thaihabk05
                p #[span(aria-hidden="true") &#xe076;] dinhthaiha@vihat.vn
                a.btn.btn-trans(href="#") Dang ky su dung