header
	.navbar-fixed
		ul#dropdown1.dropdown-content
			li
				a(href="#!") one
			li
				a(href="#!") two
			li.divider
			li
				a(href="#!") three
		nav
			.nav-wrapper
				a.brand-logo(href="#") Logo
				ul.right
					li
						a(href="#") Home
					li
						a.dropdown-button(href="#!", data-activates="dropdown1")
							| Tour
							i.material-icons.right arrow_drop_down
					li
						a(href="#") About
