section#tera-aboutus
    .container
        .row
            .col-12
                h2.text-center Khach hang noi ve chung toi
        .row
            .col-12.col-md-6
                .box
                    .row
                        .col-8.m-auto.text-center.col-xl-3.alight-self-center
                            img.img-fluid(src="images/avartar01.png")
                        .col-12.col-xl-9
                            p.title.text-center.text-xl-left Bao Ngan
                            p.sub-title.text-center.text-xl-left Chu quan ga nuong o o o
                            p Cam on TeraApp, khach hang rat thich ung dung di dong cua chung toi, chung toi nhan duoc rat nhieu luot dat ga nuong tu ung dung
            .col-12.col-md-6
                .box
                    .row
                        .col-8.m-auto.text-center.col-xl-3.alight-self-center
                            img.img-fluid(src="images/avartar02.png")
                        .col-12.col-xl-9
                            p.title.text-center.text-xl-left Hoang Minh
                            p.sub-title.text-center.text-xl-left Giam doc chuoi cua hang rau sach
                            p Toi rat hai long, TeraApp giup chung toi co duoc them nhieu don hang. Ngoai ra viec cap nhat noi dung, giao dien cho ung dung rat de dang
        .row
            .col-12.col-md-6
                .box
                    .row
                        .col-8.m-auto.text-center.col-xl-3.alight-self-center
                            img.img-fluid(src="images/avartar03.png")
                        .col-12.col-xl-9
                            p.title.text-center.text-xl-left Quynh Tram
                            p.sub-title.text-center.text-xl-left Chu quan ga nuong o o o
                            p Cam on TeraApp, khach hang rat thich ung dung di dong cua chung toi, chung toi nhan duoc rat nhieu luot dat ga nuong tu ung dung
            .col-12.col-md-6
                .box
                    .row
                        .col-8.m-auto.text-center.col-xl-3.alight-self-center
                            img.img-fluid(src="images/avartar01.png")
                        .col-12.col-xl-9
                            p.title.text-center.text-xl-left Thuy Linh
                            p.sub-title.text-center.text-xl-left Chu quan ga nuong o o o
                            p Cam on TeraApp, khach hang rat thich ung dung di dong cua chung toi, chung toi nhan duoc rat nhieu luot dat ga nuong tu ung dung