section#tera-chinhsach
    .container
        .row
            .col-12
                h2.text-center Chinh sach uu dai danh cho dai ly
        .row.justify-content-center
            .col-12.col-md-4
                .cs-cover
                    img.img-fluid(src="images/chinh_sach_01.png")
                    .box
                        .box-cnt
                            p.title.text-center Lam chu viec kinh doanh cua ban
                            p.text-center Chung toi se cung cap cho ban web dich vu cua Teraapp de ban chay tren domain rieng va ban tu quan ly website cua ban
            .col-12.col-md-4
                .cs-cover
                    img(src="images/chinh_sach_02.png")
                    .box
                        .box-cnt
                            p.title.text-center Muc hoa hong cuc cao
                            p.text-center Chung toi se danh cho ban muc hoa hong cuc khung, tuy theo so luong app ma ban ban duoc, tuy theo nang luc cua ban
            .col-12.col-md-4
                .cs-cover
                    img(src="images/chinh_sach_03.png")
                    .box
                        .box-cnt
                            p.title.text-center Ho tro ky thuat tan tinh cho ban
                            p.text-center Chung toi se ho tro ky thuat va nghiep vu cho ban, den khi ban tu tin nam vung va ap dung vao viec kinh doanh cua ban
        .row
            .col.text-center
                a.btn.btn-tera-bluebg.mt-5(href="#") TIM HIEU THEM #[span.arrow_right.ml-2(aria-hidden="true")]