section#tera-demo
    .container
        .row
            .col
                h2.text-center Yeu cau demo cua ban
        .row
            .col-xl-8.mb-3.mb-xl-0.text-right-animate
                img.img-fluid(src="images/iPhone-6-Three-Quarters-View-Mockup.png")
            .col-xl-4.demo-form.animate
                .row
                    .col
                        p Ten #[span(style="color:red") (*)] :
                        input.form-control(type="text")
                .row
                    .col
                        p Email #[span(style="color:red") (*)] :
                        input.form-control(type="text")
                .row
                    .col
                        p Quoc gia
                        select.form-control
                            option Viet Nam
                .row
                    .col
                        p So dien thoai
                        .row
                            .col-4.col-md-2.col-xl-4
                                select.form-control
                                    option +84
                            .col-8.col-md-10.col-xl-8
                                input.form-control(type="text")
                .row
                    .col
                        p Website / Facebook
                        input.form-control(type="text")
                .row
                    .col.text-center
                        a.btn.btn-tera-bluebg(href="#") SUBMIT #[span.arrow_right.ml-2(aria-hidden="true")]