footer
    .container
        .row
            .col-md-4.mb-3.mb-md-0
                div
                    img.img-fluid(src="images/logo.png")
                p.title(style="border-top: 0 !important;") COng ty TNHH Cong Nghe Vihat
                div
                    i.fa.fa-map-marker.fa-2x.mr-4(aria-hidden="true")
                    | 231, Chu Van An, Phuong 26, Q.Binh Thanh, HCM
                div
                    i.fa.fa-phone.fa-2x.mr-4(aria-hidden="true")
                    | 090 378 6808
                div
                    i.fa.fa-envelope.fa-2x.mr-3(aria-hidden="true")
                    | contact@teraapp.net
                div Copyright 2016. All rights reserved
            .col-md-8
                .row
                    .col-md-3
                        p.title Ve chung toi
                        ul
                            li: a(href="#") Gioi thieu
                            li: a(href="#") San pham
                            li: a(href="#") Bao chi noi ve chung toi
                    .col-md-2
                        p.title Tai nguyen
                        ul
                            li: a(href="#") API
                            li: a(href="#") Kho giao dien
                            li: a(href="#") Tai lieu
                    .col-md-3
                        p.title Lien he voi chung toi
                        ul
                            li: a(href="#") Lien he
                            li: a(href="#") Tuyen dung
                            li
                                a(href="#"): i.fa.fa-facebook.fa-2x.mr-2(aria-hidden)
                                a(href="#"): i.fa.fa-google-plus.fa-2x.mr-2(aria-hidden)
                                a(href="#"): i.fa.fa-youtube-play.fa-2x(aria-hidden)
                    .col-md-4
                        p.title Nham mail thong tin
                        .input-group
                            input.form-control(type="text" placeholder="email")
                            span.input-group-btn
                                button.btn(type="button") Gui
                        div
                            span *
                            | Chung toi se khong gui spam, khong tiet lo thong tin Email