section#tera-loi-ich
    .container
        .row
            .col
                h2#jump_loi_ich.text-center Loi ich cua ung dung di dong voi tung nganh hang
                p.text-center.col-xl-11.offset-xl-1 Trong thoi dai mobile, khi ma khach hang cua ban o tren mobile nhieu hon may tinh
                |  cac trao doi tuong tac cua doanh nghiep voi khach hang se chu yeu la tren Mobile.
                |  Luc nay Mobile App dong vai tro la cau noi hieu qua nhat giua khach hang va doanh nghiep
        .row
            .col
                .row
                    #slider-loiich.owl-carousel.owl-theme
                        .item.row(data-dot="<i class='sprite sprite-dulich'></i><p class='hidden-sm-down'>Du Lich <i aria-hidden='true' class='icon_circle-empty mr-auto hidden-sm-down'></i></p>")
                            .col-12.col-md-6.offset-md-3.col-xl-6.offset-xl-0
                                img.img-fluid(src="images/Loi_ich.png")
                            .col-12.col-md-12.col-xl-6
                                h5.mt-xl-0.mt-3 Du lich
                                p.font-weight-bold Ung dung di dong giup khach hang co the
                                ul
                                    li Nha hang cap nhat Menu mon moi va video len App rieng cua Nha Hang
                                    li Giup khach hang dat ban va thanh toan truc tuyen qua cong Internet Banking tich hop tren App
                                    li App giup doanh nghiep thay the he thong the khach hang dat tien
                                    li Nha hang trien khai cac chuong trinh tich diem va tu dong nhac nho khach hang khi the thanh vien sap het han
                                    li Gui thong bao khuyen mai (Pust Notification) mien phi gia tang ty le khach hang quay tro lai
                                .cover-btn
                                    a.btn.btn-tera-bluebg(href="#") Tao ngay #[span.arrow_right.ml-2(aria-hidden="true")]
                        .item.row(data-dot="<i class='sprite sprite-dulich'></i><p class='hidden-sm-down'>Du Lich <i aria-hidden='true' class='icon_circle-empty mr-auto hidden-sm-down'></i></p>")
                            .col-12.col-md-6.offset-md-3.col-xl-6.offset-xl-0
                                img.img-fluid(src="images/Loi_ich.png")
                            .col-12.col-md-12.col-xl-6
                                h5.mt-xl-0.mt-3 Nha Hang
                                p.font-weight-bold Ung dung di dong giup khach hang co the
                                ul
                                    li Nha hang cap nhat Menu mon moi va video len App rieng cua Nha Hang
                                    li Giup khach hang dat ban va thanh toan truc tuyen qua cong Internet Banking tich hop tren App
                                    li App giup doanh nghiep thay the he thong the khach hang dat tien
                                    li Nha hang trien khai cac chuong trinh tich diem va tu dong nhac nho khach hang khi the thanh vien sap het han
                                    li Gui thong bao khuyen mai (Pust Notification) mien phi gia tang ty le khach hang quay tro lai
                                .cover-btn
                                    a.btn.btn-tera-bluebg(href="#") Tao ngay #[span.arrow_right.ml-2(aria-hidden="true")]
                        .item.row(data-dot="<i class='sprite sprite-dulich'></i><p class='hidden-sm-down'>Du Lich <i aria-hidden='true' class='icon_circle-empty mr-auto hidden-sm-down'></i></p>")
                            .col-12.col-md-6.offset-md-3.col-xl-6.offset-xl-0
                                img.img-fluid(src="images/Loi_ich.png")
                            .col-12.col-md-12.col-xl-6
                                h5.mt-xl-0.mt-3 Thoi Trang
                                p.font-weight-bold Ung dung di dong giup khach hang co the
                                ul
                                    li Nha hang cap nhat Menu mon moi va video len App rieng cua Nha Hang
                                    li Giup khach hang dat ban va thanh toan truc tuyen qua cong Internet Banking tich hop tren App
                                    li App giup doanh nghiep thay the he thong the khach hang dat tien
                                    li Nha hang trien khai cac chuong trinh tich diem va tu dong nhac nho khach hang khi the thanh vien sap het han
                                    li Gui thong bao khuyen mai (Pust Notification) mien phi gia tang ty le khach hang quay tro lai
                                .cover-btn
                                    a.btn.btn-tera-bluebg(href="#") Tao ngay #[span.arrow_right.ml-2(aria-hidden="true")]
                        .item.row(data-dot="<i class='sprite sprite-dulich'></i><p class='hidden-sm-down'>Du Lich <i aria-hidden='true' class='icon_circle-empty mr-auto hidden-sm-down'></i></p>")
                            .col-12.col-md-6.offset-md-3.col-xl-6.offset-xl-0
                                img.img-fluid(src="images/Loi_ich.png")
                            .col-12.col-md-12.col-xl-6
                                h5.mt-xl-0.mt-3 Cong ty
                                p.font-weight-bold Ung dung di dong giup khach hang co the
                                ul
                                    li Nha hang cap nhat Menu mon moi va video len App rieng cua Nha Hang
                                    li Giup khach hang dat ban va thanh toan truc tuyen qua cong Internet Banking tich hop tren App
                                    li App giup doanh nghiep thay the he thong the khach hang dat tien
                                    li Nha hang trien khai cac chuong trinh tich diem va tu dong nhac nho khach hang khi the thanh vien sap het han
                                    li Gui thong bao khuyen mai (Pust Notification) mien phi gia tang ty le khach hang quay tro lai
                                .cover-btn
                                    a.btn.btn-tera-bluebg(href="#") Tao ngay #[span.arrow_right.ml-2(aria-hidden="true")]
                        .item.row(data-dot="<i class='sprite sprite-dulich'></i><p class='hidden-sm-down'>Du Lich <i aria-hidden='true' class='icon_circle-empty mr-auto hidden-sm-down'></i></p>")
                            .col-12.col-md-6.offset-md-3.col-xl-6.offset-xl-0
                                img.img-fluid(src="images/Loi_ich.png")
                            .col-12.col-md-12.col-xl-6
                                h5.mt-xl-0.mt-3 Lam dep
                                p.font-weight-bold Ung dung di dong giup khach hang co the
                                ul
                                    li Nha hang cap nhat Menu mon moi va video len App rieng cua Nha Hang
                                    li Giup khach hang dat ban va thanh toan truc tuyen qua cong Internet Banking tich hop tren App
                                    li App giup doanh nghiep thay the he thong the khach hang dat tien
                                    li Nha hang trien khai cac chuong trinh tich diem va tu dong nhac nho khach hang khi the thanh vien sap het han
                                    li Gui thong bao khuyen mai (Pust Notification) mien phi gia tang ty le khach hang quay tro lai
                                .cover-btn
                                    a.btn.btn-tera-bluebg(href="#") Tao ngay #[span.arrow_right.ml-2(aria-hidden="true")]
                        .item.row(data-dot="<i class='sprite sprite-dulich'></i><p class='hidden-sm-down'>Du Lich <i aria-hidden='true' class='icon_circle-empty mr-auto hidden-sm-down'></i></p>")
                            .col-12.col-md-6.offset-md-3.col-xl-6.offset-xl-0
                                img.img-fluid(src="images/Loi_ich.png")
                            .col-12.col-md-12.col-xl-6
                                h5.mt-xl-0.mt-3 Dien Gia
                                p.font-weight-bold Ung dung di dong giup khach hang co the
                                ul
                                    li Nha hang cap nhat Menu mon moi va video len App rieng cua Nha Hang
                                    li Giup khach hang dat ban va thanh toan truc tuyen qua cong Internet Banking tich hop tren App
                                    li App giup doanh nghiep thay the he thong the khach hang dat tien
                                    li Nha hang trien khai cac chuong trinh tich diem va tu dong nhac nho khach hang khi the thanh vien sap het han
                                    li Gui thong bao khuyen mai (Pust Notification) mien phi gia tang ty le khach hang quay tro lai
                                .cover-btn
                                    a.btn.btn-tera-bluebg(href="#") Tao ngay #[span.arrow_right.ml-2(aria-hidden="true")]