section#tera-price
    .container
        .row
            .col-12.text-center
                h2 Chính sách giá
        .row.text-center.animate(data-animate="")
            .col-10.offset-1.col-md-6.offset-md-0.col-lg-3
                .price-box
                    h4.head-top Trial
                    h4.head-bottom Miễn phí
                    div(style="border-bottom: 1px solid #e9edee;")
                        p(style="border-bottom: 0") Miễn phí 15 ngày
                        br.hidden-xl-up.hidden-md-down
                    p.content Có ngay ứng dụng trên iOS, Android, Windows Phone và Mobile Web Application
                    p Kho giao diện
                    p Kho tính năng trên ứng dụng
                    .box-footer
                        .row
                            .col-12
                                p: a(href="#") Bắt Đầu Ngay
            .col-10.offset-1.col-md-6.offset-md-0.col-lg-3
                .price-box.hot-tag
                    h4.head-top Standard
                    h4.head-bottom 3.600.000 đ
                    p 1 năm #[span (số lượng tải 0 - 2000)]
                    p.content Ứng dụng được đưa lên các kho Apple Store, Google Play, Windows Phone Store
                    p Kho giao diện
                    p Kho module trên ứng dụng
                    .box-footer
                        .row
                            .col-12
                                p: a(href="#" style="background-color: #0db2d3") Bắt đầu ngay
            .col-10.offset-1.col-md-6.offset-md-0.col-lg-3
                .price-box.hot-tag
                    h4.head-top Premium
                    h4.head-bottom 6.000.000 đ
                    p 1 năm #[span (số lượng tải 2000 - 5000)]
                    p.content Ứng dụng được đưa lên các kho Apple Store, Google Play, Windows Phone Store
                    p Kho giao diện
                    p Kho module trên ứng dụng
                    .box-footer
                        .row
                            .col-12
                                p: a(href="#") Bắt đầu ngay
            .col-10.offset-1.col-md-6.offset-md-0.col-lg-3
                .price-box.hot-tag
                    h4.head-top Advance
                    h4.head-bottom LIÊN HỆ
                    p 1 năm #[span (số lượng tải lớn hơn 5000)]
                    p.content Ứng dụng được đưa lên các kho Apple Store, Google Play, Windows Phone Store
                    p Kho giao diện
                    p Kho module trên ứng dụng
                    .box-footer
                        .row
                            .col-12
                                p: a(href="#") Bắt đầu ngay