section#tera-pros
    .container
        .row
            .col-12.text-center
                h2 Tai sao nen dung TeraApp de tao ung dung di dong
                .row.justify-content-center
                    .col-10.col-md-8
                        p De xay dung ung dung di dong thi ban co the thue 1 cong ty de lap ung dung rieng cho ban hoac su dung cac giai phap tao ung dung di dong rieng nhu TeraApp.
                        |  Vay cac uu diem cua TeraApp la gi ?
        .row
            .col-12.col-md-12.col-lg-4.offset-sm-0.push-lg-4.img-idx.justify-content-md-center
                img.img-fluid.top-pd-50.animate(src="images/tera_screen.png" data-animate="slideInLeft")
            .col-12.col-md-6.col-lg-4.pull-lg-4
                .row
                    .col-12.col-md-12.pros-left-item.animate(data-animate="slideInLeft")
                        .n-1-br-left
                            .n-1-br-right
                                .n-1-br-top
                                    .media
                                        img.img-number(src="images/icon_tinhnang.png")
                                        .media-body
                                            h4 Nhanh chong
                        .row.justify-content-start
                            .col-12.col-md-10
                                p Khong can phai cho doi doi ngu lap trinh, thiet ke hang thang troi voi TeraApp ban chi can ton vao thao tac la co ngay ung dung di dong cua rieng minh. Cho phep dong bo du lieu Web tu cac nen tang san co.
                    .col-12.col-md-12.pros-left-item.animate(data-animate="slideInLeft")
                        .n-2-br-left
                            .n-2-br-top
                                .media
                                    img.img-number(src="images/icon_marketing.png")
                                    .media-body
                                        h4 Cong cu Marketing hieu qua
                        .row.justify-content-start
                            .col-12.col-md-10
                                p Cho phep gui cac thong diep marketing den cac khach hang bang tinh nang Push Nofification cua cac he dieu hanh (mien phi), hoac thong qua SMS
                    .col-12.col-md-12.pros-left-item.animate(data-animate="slideInLeft")
                        .n-3-br-left
                            .n-3-br-top
                                .n-3-br-right
                                    .media
                                        img.img-number(src="images/icon_shopcart.png")
                                        .media-body
                                            h4 Kenh ban hang tren di dong
                        .row.justify-content-start
                            .col-12.col-md-10
                                p Tinh nang gio hang cho phep khach hang dat hang truc tuyen tren ung dung. Tich hop dong bo du lieu voi cac dich vu Ecommerce nhu Bized, Haravan
            .col-12.col-md-6.col-lg-4
                .col-12.col-md-12.pros-right-item.animate(data-animate="slideInRight")
                    .n-4-br-left
                        .n-4-br-top
                            .media
                                img.img-number(src="images/icon_paint.png")
                                .meida-body
                                    h4 Tuy bien giao dien va tinh nang
                                    p.hidden-md-down Chung toi co san kho giao dien va tinh nang phong phu de dap ung cho nhieu loai hinh doanh nghiep va phong cach khac nhau. Ngoai ra doanh nghiep co the tu tuy bien them
                    .row.justify-content-start.hidden-lg-up
                        .col-12.col-md-10
                            p Chung toi co san kho giao dien va tinh nang phong phu de dap ung cho nhieu loai hinh doanh nghiep va phong cach khac nha. Ngoai ra doanh nghiep co the tu tuy bien them
                .col-12.col-md-12.pros-right-item.animate(data-animate="slideInRight")
                    .n-5-br-top
                        .media
                            img.img-number(src="images/icon_phone.png")
                            .media-body
                                h4 Cong cu va cham soc khach hang
                                p.hidden-md-down TeraApp cho phep cac doanh nghiep quan ly, phan nhom khach hang. Ghi nhan cac lich su giao dich, trien khai cac chuong trinh khach hang than thiet mot cach de dang.
                    .row.jusify-content-start.hidden-lg-up
                        .col-12.col-md-10
                            p TeraApp cho phep cac doanh nghiep quan ly, phan nhom khach hang. Ghi nhan cac lich su giao dich, trien khai cac chuong trinh khach hang than thiet mot cach de dang.
                .col-12.col-md-12.pros-right-item.animate(data-animate="slideInRight")
                    .n-6-br-left
                        .n-6-br-right
                            .n-6-br-top
                                .media
                                    img.img-number(src="images/icon_slide.png")
                                    .media-body
                                        h4 Thong ke va bao cao
                                        p.hidden-md-down Thong ke, bao cao chi tiet luot tai ung dung, luot su dung ung dung theo tung he dieu hanh
                    .row.justify-content-start.hidden-lg-up
                        .col-12.col-md-10
                            p Thong ke, bao cao chi tiet luot tai ung dung, luot su dung ung dung theo tung he dieu hanh