section#tera-step
    .demo-ctrl.hidden-md-down
        .hi-icon-wrap.hi-icon-effect-3.hi-icon-effect-3a
            a.hi-icon.hi-icon-images(href="#"): i.fa.fa-cog.fa-spin.fa-3x.fa-fw(style="margin-top: 10px")
    .container
        .row
            .col-12.text-center
                h2 Voi TeraApp ban chi can
                h2.font-weight-bold.mb-5 3 buoc don gian de tao ung dung di dong
        .row
            .col-12.col-md-4.text-center.mb-3
                .app-img-1.mb-2
                    i.sprite-step.sprite-step-01
                p.title Buoc 1
                p.title Khai bao thong tin doanh nghiep
                p.content Khai bao 1 so thong tin co ban nhu dia chi, hotline va so san pham tieu bieu
            .col-12.col-md-4.text-center.mb-4
                .app-img-2.mb-2
                    i.sprite-step.sprite-step-02
                p.title Buoc 2
                p.title Chon mau design, mau sac
                p.content Ban co the lua chon mau thiet ke phu hop nhat voi doanh nghiep cua ban trong hang tram mau thiet ke cua chung toi
            .col-12.col-md-4.text-center.mb-4
                .app-img-3.mb-2
                    i.sprite-step.sprite-step-03
                p.title Buoc 3
                p.title Hoan thien ung dung
                p.content Sau khi hoan thien noi dung va giao dien. Ban chon publish, chung toi se ho tro day du ung dung cua ban len 2 kho ung dung pho bien nhat la Appstore va Playstore