section#tera-video
    .row.text-center
        .col-12
            h2 Xem video thu vi duoi day de hieu ro hon ve TeraApp
        .col-12
            div
                iframe(width="900px" height="510px" src="https://player.vimeo.com/video/212547096" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)