doctype html
html(lang="en")
    head
        title Aspect Ratio boxes
        link(rel="stylesheet" href="styles.css")
    body
        .wrapper
            .sq44
                .inner
                    p s44
            .sq21
                .inner
                    p s44
            .sq11.left
                .inner
                    p s11
            .sq11
                .inner
                    p s11

