doctype html
html
    head
        title CSS Grid Layout
        link(href="https://fonts.googleapis.com/css?family=Varela+Round", rel="stylesheet", type="text/css")
        link(href="css/page.css", rel="stylesheet")
        link(href="css/grid.css", rel="stylesheet")
    body
        .container
            header Header
            main Main
            aside Aside
            footer Footer
        .grid-1
            .item 1
            .item 2
            .item 3
            .item 4
            .item 5
            .item 6
        .grid-2
            .item 1
            .item 2
            .item 3
            .item 4
            .item 5
            .item 6
        .grid-3
            .item 1
            .item 2
            .item 3
            .item 4
            .item 5
            .item 6
        .grid-4
            .item 1
            .item 2
            .item 3
            .item 4
            .item 5
            .item 6
        .grid-5
            .item 1
            .item 2
            .item 3
            .item 4
            .item 5
            .item 6
        .grid-6
            .item 1
            .item 2
            .item 3
            .item 4
            .item 5
            .item 6
            .item 7
            .item 8
    .grid-7
        .item 1
        .item 2
        .item 3
        .item 4
        .item 5
        .item 6
        .item 7
        .item 8
