@import "lib/_manifest.scss";
@import "utility/manifest";
@import "base/manifest";
@import "component/manifest";
@import "layout/manifest";

.flex{
    display: flex !important;
    &.fd-row{
        flex-direction: row;
    }
    &.fd-col{
        flex-direction: column;
    }
}