.product-tabs
    ul.tabs
        li: a DESCRIPTION
        li: a REVIEW (1)
    .panes
        .tab-pane
            p Duis blandit, ante quis elementum lobortis, metus sapien dapibus quam Non pulvinar sapien massa vel ipsum. Fusce non risus urna. Nulla ultricies purus eget augue vulputate in accumsan turpis accumsan. Sed vel faucibus sem. Quisque diam massa, consectetur eu suscipit et, ullamcorper vitae eros. Vestibulum bibendum, lacus vel mattis interdum, mauris libero mollis velit, sit amet semper ligula enim eu neque. Morbi ac mauris nec velit ullamcorper eleifend. Quisque tempor lorem non enim dictum ac commodo risus rutrum.
        .tab-pane
            p Duis blandit, ante quis elementum lobortis, metus sapien dapibus quam Non pulvinar sapien massa vel ipsum. Fusce non risus urna. Nulla ultricies purus eget augue vulputate in accumsan turpis accumsan. Sed vel faucibus sem. Quisque diam massa, consectetur eu suscipit et, ullamcorper vitae eros. Vestibulum bibendum, lacus vel mattis interdum, mauris libero mollis velit, sit amet semper ligula enim eu neque. Morbi ac mauris nec velit ullamcorper eleifend. Quisque tempor lorem non enim dictum ac commodo risus rutrum.
            p Duis blandit, ante quis elementum lobortis, metus sapien dapibus quam Non pulvinar sapien massa vel ipsum. Fusce non risus urna. Nulla ultricies purus eget augue vulputate in accumsan turpis accumsan. Sed vel faucibus sem. Quisque diam massa, consectetur eu suscipit et, ullamcorper vitae eros. Vestibulum bibendum, lacus vel mattis interdum, mauris libero mollis velit, sit amet semper ligula enim eu neque. Morbi ac mauris nec velit ullamcorper eleifend. Quisque tempor lorem non enim dictum ac commodo risus rutrum.
