#owl-work.owl-carousel
    each value in ['SOCIAL MEDIA','TRIP PLANNING','WEB MARKETING','EXPLORING PLACES','RECREATIONS']
        .item.col-md-4.col-sm-6.wow.fadeInUp(data-wow-delay="0.9s")
            i.icon-tools.medium-icon
            h3=value
            hr
            p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.