section#cta
    .container
        .row.justify-content-between
            .col
                .row
                    .col
                        i.icon.ion-email
                    .col.col-auto
                        p looking for help ?
                        p Have any questions or need help with order ? Let us know !
            .col.text-right
                a.btn-primary Make an inquiry