section#footer
    .container
        .row
            ul.nav.d-inline-flex.justify-content-between
                li.nav-item
                    i.icon.ion-cube
                    span Free Shipping in Europe
                li.nav-item
                    i.icon.ion-cube
                    span Free Shipping in Europe
                li.nav-item
                    i.icon.ion-cube
                    span Free Shipping in Europe
                li.nav-item
                    i.icon.ion-cube
                    span Free Shipping in Europe
                li.nav-item
                    i.icon.ion-cube
                    span Free Shipping in Europe
                li.nav-item
                    i.icon.ion-cube
                    span Free Shipping in Europe
        .row.d-flex
            ul.mr-auto
                li CALL US
                li EMAIL US
                li ADDRESS
            div
                ul
                    li.title NAVIGATION
                    li #[a(href="#") Home]
                    li #[a(href="#") Abouts Us]
                    li #[a(href="#") Latest News]
                    li #[a(href="#") Reviews]
                    li #[a(href="#") Brands]
                ul
                    li.title NAVIGATION
                    li #[a(href="#") Home]
                    li #[a(href="#") Abouts Us]
                    li #[a(href="#") Latest News]
                    li #[a(href="#") Reviews]
                    li #[a(href="#") Brands]
                ul
                    li.title NAVIGATION
                    li #[a(href="#") Home]
                    li #[a(href="#") Abouts Us]
                    li #[a(href="#") Latest News]
                    li #[a(href="#") Reviews]
                    li #[a(href="#") Brands]
                ul
                    li.title NAVIGATION
                    li #[a(href="#") Home]
                    li #[a(href="#") Abouts Us]
                    li #[a(href="#") Latest News]
                    li #[a(href="#") Reviews]
                    li #[a(href="#") Brands]
        .row.justify-content-around
            .col
                img(src=require("../../images/Logo.png"))
            .col-auto.text-center 2017 Sportshold. All rights reserved
            .col
                ul.d-inline-flex
                    li: a(href="#") #[i.icon.ion-social-facebook]
                    li: a(href="#") #[i.icon.ion-social-facebook]
                    li: a(href="#") #[i.icon.ion-social-facebook]
                    li: a(href="#") #[i.icon.ion-social-facebook]


