include ../component/banners
include ../component/features
include ../component/products
include ../component/brands
include ../component/testimonials
include ../component/news
include ../component/cta

