section#slide-001.slide(data-autoslide="1000")
    section
        h1 SlideSalad - Infographics Pack
        h5 Enter your subhead line here
        ul.flex.fd-row
            li
                ul.flex.fd-col
                    li.fragment(data-animate="zoomIn" data-fragment-index="6")
                        h6 TITLE GOES HERE
                        p This is a sample text. You simply add your own text and description here. This text is fully editable. It can be replaced with your own style. You can change 
                    li.fragment(data-animate="zoomIn" data-fragment-index="5")
                        h6 TITLE GOES HERE
                        p This is a sample text. You simply add your own text and description here. This text is fully editable. It can be replaced with your own style. You can change
                    li.fragment(data-animate="zoomIn" data-fragment-index="4")
                        h6 TITLE GOES HERE
                        p This is a sample text. You simply add your own text and description here. This text is fully editable. It can be replaced with your own style. You can change
            li: img(src="./images/POSCO ICT VIETNAM_LOGO_20130920.png")
            li
                ul.flex.fd-col
                    li.fragment(data-animate="zoomIn" data-fragment-index="1")
                        h6 TITLE GOES HERE
                        p This is a sample text. You simply add your own text and description here. This text is fully editable. It can be replaced with your own style. You can change
                    li.fragment(data-animate="zoomIn" data-fragment-index="2")
                        h6 TITLE GOES HERE
                        p This is a sample text. You simply add your own text and description here. This text is fully editable. It can be replaced with your own style. You can change
                    li.fragment(data-animate="zoomIn" data-fragment-index="3" )
                        h6 TITLE GOES HERE
                        p This is a sample text. You simply add your own text and description here. This text is fully editable. It can be replaced with your own style. You can change
            
