section#home
    .container
        .row
            .col-md-12.col-sm-12
                h3 WEB DESIGN / WEB DEVELOPMENT / SOCIAL MEDIA
                h1 DIGITAL TEAM
                hr
                a.smoothScroll.btn.btn-danger(href="#work") What we do
                a.smoothScroll.btn.btn-danger(href="#contact") Talk to us