include ../utilities/mixins
section#work
    .container
        .row
            .col-md-12.col-sm-12
                .section-title
                    strong 01
                    h1.heading.bold WHAT WE DO
                    hr
                +mix01("0.6s","WEB MARKETING")(class="icon-cloud medium-icon")
                    p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteu sunt in culpa qui officia.
                +mix01("0.9","UI &amp; UX DESIGN")(class="icon-mobile medium-icon")
                    p Digital Team is free responsive Bootstrap v3.3.5 layout from #[a(rel="nofollow" href="http://www.tooplate.com" target="_parent") Tooplate]. Images are from #[a(rel="nofollow" href="http://pixabay.com" target="_parent") Pixabay] free photo website.
                +mix01("1s","ECOMMERCE")(class="icon-laptop medium-icon")
                    p You can edit and use this template for your websites. Please tell your friends about Tooplate. Thank you for visiting our website.
                +mix01("1s","MOBILE APP")(class="icon-compass medium-icon")
                    p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteu sunt in culpa qui officia.
                +mix01("1s","SOCIAL MEDIA")(class="icon-chat medium-icon")
                    p You can easily change icons by looking at #[a(href="https://www.elegantthemes.com/blog/resources/how-to-use-and-embed-an-icon-font-on-your-website" target="_blank") ET Line Icons]. Excepteu sunt in culpa qui officia. Duis aute irure dolor in reprehenderit.
                +mix01("1s","RESPONSIVE LAYOUT")(class="icon-browser medium-icon")
                    p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteu sunt in culpa qui officia.