extends pug/template/template_site
block title
    title Salon Contact
block content
    -
        var prices = [
            {
            "product" : "Product 1",
            "price" : "15.00"
            },
            {
            "product" : "Product 2",
            "price" : "20.00"
            },
            {
            "product" : "Product 3",
            "price" : "25.00"
            },
            {
            "product" : "Product 4",
            "price" : "30.00"
            }
        ]
    include pug/layout/service


