extends pug/template/template_site
block title
    title Salon Contact
block content
    -
        var prices = [
        {
        "product" : "Classic Manicure (20 min)",
        "price" : "15.00"
        },
        {
        "product" : "Men's sport Manicure (20 min)",
        "price" : "20.00"
        },
        {
        "product" : "Paraffin manicure (25 min)",
        "price" : "25.00"
        },
        {
        "product" : "Signature Spa Manicure (25 min)",
        "price" : "30.00"
        },
        {
        "product" : "Milk & Honey Spa Manicure (30 min)",
        "price" : "30.00"
        },
        {
        "product" : "Tropical Spa Manicure (30 min)",
        "price" : "35.00"
        },
        {
        "product" : "Classic Manicure (20 min)",
        "price" : "15.00"
        },
        {
        "product" : "Men's sport Manicure (20 min)",
        "price" : "20.00"
        },
        {
        "product" : "Paraffin manicure (25 min)",
        "price" : "25.00"
        },
        {
        "product" : "Signature Spa Manicure (25 min)",
        "price" : "30.00"
        },
        {
        "product" : "Milk & Honey Spa Manicure (30 min)",
        "price" : "30.00"
        },
        {
        "product" : "Tropical Spa Manicure (30 min)",
        "price" : "35.00"
        },
        {
        "product" : "Classic Manicure (20 min)",
        "price" : "15.00"
        },
        {
        "product" : "Men's sport Manicure (20 min)",
        "price" : "20.00"
        },
        {
        "product" : "Paraffin manicure (25 min)",
        "price" : "25.00"
        },
        {
        "product" : "Signature Spa Manicure (25 min)",
        "price" : "30.00"
        },
        {
        "product" : "Milk & Honey Spa Manicure (30 min)",
        "price" : "30.00"
        },
        {
        "product" : "Tropical Spa Manicure (30 min)",
        "price" : "35.00"
        }
        ]
    include pug/layout/service