section#header
    .navigation--top
        .container.d-flex
            ul.nav.mr-auto
                li.nav-item: a.nav-link(href="#") Support
                li.nav-item: a.nav-link(href="#") Delivery
                li.nav-item: a.nav-link(href="#") Legal
                li.nav-item: a.nav-link(href="#") About Us
            ul.nav
                li.nav-item
                    a.nav-link(href="#")
                        | #[i.icon.ion-bag]
                        |  $465.00
                        |  #[span.cart__item 4 Items]
                li.nav-item: a.nav-link(href="#") Login
                li.nav-item: a.nav-link.active(href="#") Register
    .navigation--bottom
        .container
            nav.navbar.navbar-expand-lg.align-items-center
                a.navbar-brand(href="#") #[img(src=require("../../images/Logo.png"))]
                button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item.active: a.nav-link(href="#") Home
                        li.nav-item: a.nav-link(href="#") Men
                        li.nav-item: a.nav-link(href="#") Women
                        li.nav-item: a.nav-link(href="#") Children
                        li.nav-item: a.nav-link(href="#") Baby
                        li.nav-item: a.nav-link(href="#") Our Brands
                        li.nav-item: a.nav-link(href="#") Sales

