.copyright-wrapper
    #copyrights.clearfix
        p.left Copyright of #[a(href="#") bonfire] #[span 2012] All Rights Reserved</p>
        p.right Designed by #[a(href="http://themedesigner.in/") Sunil Joshi] and Developed by #[a(href="http://960development.com/") 960Development]</p>