.page-bottom-wrapper
    #page-bottom.clearfix
        .box
            .icon
                img(src="images/icon-1.png")
            .data
                h3 Lorem ipsum dolor
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pretium nisi id sapien cursus eu lobortis libero imperdiet. Aliquam erat volutpat.
        .box
            .icon
                img(src="images/icon-2.png")
            .data
                h3 Lorem ipsum dolor
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pretium nisi id sapien cursus eu lobortis libero imperdiet. Aliquam erat volutpat.
        .box.last
            .icon
                img(src="images/icon-3.png")
            .data
                h3 Lorem ipsum dolor
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pretium nisi id sapien cursus eu lobortis libero imperdiet. Aliquam erat volutpat.