section#sms-banner-style-1
    .row.no-gutters
        .col
            img.img-fluid(src="images/banner-bg.png" style="width: 100%")
            .title
                h1: span Hop tac - Phat trien
                h3 Cung eSMS