footer
    .overlay
    .container
        .row
            .col-md-6
                .footer-widget_wrapper.no-padding
                    .row
                        .col-md-12
                            .company-about
                                .logo
                                    a(href="#")
                                        p: img.img-fluid(src="images/Esms_logo.png" width=150)
                                p.description
                                    | eSMS la dich vu duoc ra doi voi mong muon giup cac cua hang, doanh nghiep vua va nho thuc hien cac chuong trinh quang cao, tiep thi mot cach hieu qua nhat, tiet kiem thoi gian nhat va dac biet de dang nhat
                    .row
                        .col-md-12
                            .social-icons
                                p Follow us on
                                ul.list-inline.list-unstyled
                                    li(style="float: left")
                                        a(href="#")
                                            .social-diamond_shape
                                                p.no-margin: i.ion-social-facebook
                                    li(style="float: left")
                                        a(href="#")
                                            .social-diamond_shape
                                                p.no-margin: i.ion-social-youtube
                                    li(style="float: left")
                                        a(href="#")
                                            .social-diamond_shape
                                                p.no-margin: i.ion-social-twitter
                                    li(style="float: left")
                                        a(href="#")
                                            .social-diamond_shape
                                                p.no-margin: i.ion-social-pinterest
                                    li(style="float: left")
                                        a(href="#")
                                            .social-diamond_shape
                                                p.no-margin: i.ion-social-googleplus
            .col-md-6
                .footer-widget_wrapper
                    h4 Bai viet moi
                    ul.latest-post_list.list-unstyled
                        li
                            img(src="/Content/BlogImg/full.jpg")
                            p.no-margin
                                a.post-title(href="#") Nhung dieu can luu y khi su dung SMS Brandname
                            p.no-margin.posted-date
                                i.ion-android-calendar.posted-icon  13/11/2016
                        li
                            img(src="/Content/BlogImg/full.jpg")
                            p.no-margin
                                a.post-title(href="#") Nhung quy dinh can biet khi su dung SMS Marketing
                            p.no-margin.posted-date
                                i.ion-android-calendar.posted-icon  08/10/2016
                        li
                            img(src="/Content/BlogImg/full.jpg")
                            p.no-margin
                                a.post-title(href="#") SMS Marketing - Xu huong phat trien trong thoi dai cong nghe so
                            p.no-margin.posted-date
                                i.ion-android-calendar.posted-icon  12/11/2016
        .contact-info_row.row
            .contact-info_wrapper
                .row
                    .col-md-4
                        .icon-contain
                            i.ion-ios-location.colored-icon
                            p 231 Chu Van An, Phuong 26, Binh Thanh, HCM Phone: 08 62587609
                    .col-md-1
                    .col-md-3
                        ul.list-unstyled.contact-list
                            li
                                i.ion-ios-telephone.colored-icon &nbsp;
                                a(href="#") 090 2435 340
                            li
                                i.ion-ios-email.colored-icon &nbsp;
                                a(href="#") contact@esms.vn
                    .col-md-1
                    .col-md-3
                        .icon-contain.weblinks
                            i.ion-earth.colored-icon
                            p
                                a(href="#") www.vihat.vn
                                br
                                a(href="#") www.esms.vn



