section#sms-using
    h1.text-center Cach su dung dich vu goi tu dong evoice
    .container
        .row
            .col-12.col-md-6(style="margin: 15px 0;")
                .img-rounded
                    img(src="images/using-1.png")
                    ul
                        li Thong qua API
            .col-12.col-md-6(style="margin: 15px 0;")
                .img-rounded
                    img(src="images/using-2.png")
                    ul
                        li Tao cuoc goi ngay tren Website