section#sms-performance
    .container
        h1.text-center Hieu nang va bao mat
        .row.pt-lg-2
            .col-12
                .row
                    .col-12.col-md-6.col-lg-3.py-3
                        img.img-fluid(src="images/multi-people.png")
                        p Dang ung dong thoi hon #[span.num 500] cuoc goi cung luc. Co the nang cap khi traffic tang
                    .col-12.col-md-6.col-lg-3.py-3
                        img.img-fluid(src="images/99-percent.png")
                        p Dam bao #[span.num 99] % uptime
                    .col-12.col-md-6.col-lg-3.py-3
                        img.img-fluid(src="images/ssl-sha.png")
                        p Ma hoa #[span.char SSL SHA-256]
                    .col-12.col-md-6.col-lg-3.py-3
                        img.img-fluid(src="images/black-list.png")
                        p Cho phep thiet lap #[span.char Black List]