section#sms-contact
    .container
        .col-12
            h1 Lien he
            p #[span(aria-hidden="true") &#xe08a;] Dinh Thai Ha
            p #[span(aria-hidden="true") &#xe090;] 0976.009.346
            p #[span(aria-hidden="true") &#xe0d0;] thaihabk05
            p #[span(aria-hidden="true") &#xe076;] dinhthaiha@vihat.vn
            a.btn.btn-trans(href="#") Dang ky su dung