section#sms-features
    .container
        .row.hidden-sm-up
            .col-12
                .text-center Tinh nang va uu diem cua dich vu goi tu dong evoice
        .row
            .col-12.col-md-6
                img.img-fluid(src="images/sms-features.png" alt="eVoice Features")
            .col-12.col-md-6
                h1.text-left.hidden-sm-down Tinh nang va uu diem cua dich vu goi ti dong - evoice
                ul
                    li Cho phep doanh nghiep tu thu am cuoc goi can phat ra, hoac yeu cau eSMS ho tro
                    li trong cuoc goi co the kem cac bien nhu ma xac thuc, so tien
                    li chi tinh phi khach hang khi bat may
                    li co the tuy chon goi lai sau x phut neu khach hang chua bat may
                    li co the tuy chon lai lai cuoc goi x lan
                    li cho phep lay phan hoi cua khach hang thong qua phim bam
                    li co the bao cao trang thai cuoc goi: da bat may, dang ban, tu choi...