%section-padding{
  padding-top: 100px;
  padding-bottom: 100px;
}

%nav-tabs-transparent{
  cursor: default;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: transparent;
}