section#sms-cooperate
    .container
        .row
            .col.text-center
                h1 Cac hinh thuc hop tac voi #[span(style="text-transform: none") e] SMS
                p Hien eSMS.vn dang co 3 hinh thuc hop tac
        .row
            .col-12.col-md-4.coop-box
                img(src="images/hinhthuc1.png")
                .coop-content
                    h6 Cong tac vien gioi thieu
                    p Chi can gioi thieu cac doanh nghiep khac theo duong link Affiliate, khi khach hang gioi thieu phat sinh doanh thu, ban se duoc chiet khau tu 10 - 15% tuy doanh so
            .col-12.col-md-4.coop-box
                img(src="images/hinhthuc2.png")
                .coop-content
                    h6 Tich hop dich vu SMS
                    p Tich hop cac dich vu co san nhu cac phan mem CRM, POS, HRM. Chung toi se de gia goc va ban co quyen quyet dinh gia ban ra cho khach hang
            .col-12.col-md-4.coop-box
                img(src="images/hinhthuc3.png")
                .coop-content
                    h6 Dai ly voi he thong rieng
                    p Chung toi se thiet lap mot he thong kinh doanh hoan chinh voi day du tinh nang eSMS.vn voi thuong hieu cua ban, ban se tu quyet dinh chinh sach gia de ban cho khach hang, moi van de ky thuat eSMS se ho tro