section#sms-price-news
    .container
        h3.text-center Nhung bai viet noi bat trong tuan
        .row
            .col-12.col-md-3.coop-box
                img.img-fluid(src="images/price_noibat_01.png")
                .coop-content
                    h6
                        a(href="#") Cach ung dung SMS hieu qua trong doanh nghiep
                    p SMS Marketing la 1 kenh cua Mobile Marketting, dang phat trien nhanh chong nho nhung tien bo cong nghe di dong
            .col-12.col-md-3.coop-box
                img.img-fluid(src="images/price_noibat_02.png")
                .coop-content
                    h6
                        a(href="#") Huong dan tao tin nhan tren eSMS.vn
                    p Cung voi tin nhan quang cao, tin nhan cham soc khach hang la 1 trong nhung hinh thuc chinh cua SMS Marketting
            .col-12.col-md-3.coop-box
                img.img-fluid(src="images/price_noibat_03.png")
                .coop-content
                    h6
                        a(href="#") Ung dung SMS Marketting trong chien luoc kinh doanh
                    p SMS Marketting mang lai hieu qua gi trong qua trinh kinh doanh cua ban ? Co can thiet phai su dung SMS Marketting khong ?
            .col-12.col-md-3.coop-box
                img.img-fluid(src="images/vienthong.png")
                .coop-content
                    h6
                        a(href="#") SMS Marketting - Nhu the nao la tin nhan cham soc khach hang
                    p SMS Marketting hien la 1 kenh Marketting pho bien hien nay. Vay doi voi nganh nghe ban dang kinh doanh su dung SMS...