section#sms-banner
    .row.no-gutters
        .col-12.col-md-6.push-md-6.text-right
            img.img-fluid(src="images/tr-sms-banner-bg-n.png")
        .col-12.col-md-6.pull-md-6.text-center.align-self-center.p-lg-4
            h1 Giai phap goi tu dong EVOICE
            p La giai phap giup doanh nghiep tao cac cuoc goi tu dong den khach hang de nhac nho, canh bao va tuong tac voi khach hang
            .row
                .col-12.col-md-6.text-lg-right
                    a.btn.btn-trans(href="#") Xem Demo
                .col-12.col-md-6
                    a.btn.btn-trans(href="#") Dang ky su dung