mixin mixSocial
    ul.social-icon
        li: a.fa.fa-facebook.wow.fadeIn(href="#" data-wow-delay="0.3s")
        li: a.fa.fa-twitter.wow.fadeIn(href="#" data-wow-delay="0.6s")
        li: a.fa.fa-dribbble.wow.fadeIn(href="#" data-wow-delay="0.9s")
        li: a.fa.fa-behance.wow.fadeIn(href="#" data-wow-delay="1.2s")
