extends pug/template
block title
    title ESMS - Page Voice
block content
    include pug/layout/voice-banner
    include pug/layout/voice-features
    include pug/layout/voice-performance
    include pug/layout/voice-app
    include pug/layout/voice-using
    include pug/layout/voice-contact