header
    .navbar-fixed
        nav#main_nav
            .nav-wrapper.container
                a.brand-logo.hide-on-med-and-down(href="#") Logo
                a.button-collapse(href="#", data-activates="mobile")
                    i.material-icons menu
                ul.right.hide-on-med-and-down
                    li
                        a(href="#") Menu01
                    li
                        a(href="#") Menu02
                    li
                        a(href="#") Menu03
                    li
                        a(href="#") Menu04
                    li
                        a(href="#") Menu05
                    li
                        a(href="#") Menu06
                    li
                        a(href="#") Menu07
                    li
                        a(href="#") Menu08
                ul#mobile.side-nav
                    a.aom_Logo(href="#") Logo
                    li
                        a(href="#") Menu01
                    li
                        a(href="#") Menu02
                    li
                        a(href="#") Menu03
                    li
                        a(href="#") Menu04
                    li
                        a(href="#") Menu05
                    li
                        a(href="#") Menu06
                    li
                        a(href="#") Menu07
                    li
                        a(href="#") Menu08
    #slider.slider.hide-on-small-and-down
        ul.slides
            li
                img(src="./images/land01.jpg")
                .caption.left-align
                    h4
                        | Simple, Beatutiful 
                        b and Amazing
                    p.light.grey-text.text-lighten-3
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    a.waves-effect.waves-light.btn.btn_slider Download
                    a.waves-effect.waves-light.btn.btn_slider Learn more
            li
                img(src="./images/land02.png")
                .caption.left-align
                    h4
                        | Simple, Beatutiful 
                        b and Amazing
                    p.light.grey-text.text-lighten-3
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    a.waves-effect.waves-light.btn.btn_slider Download
                    a.waves-effect.waves-light.btn.btn_slider Learn more
            li
                img(src="./images/land03.jpg")
                .caption.left-align
                    h4
                        | Simple, Beatutiful 
                        b and Amazing
                    p.light.grey-text.text-lighten-3
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    a.waves-effect.waves-light.btn.btn_slider Download
                    a.waves-effect.waves-light.btn.btn_slider Learn more
            li
                img(src="./images/land04.jpg")
                .caption.left-align
                    h4
                        | Simple, Beatutiful 
                        b and Amazing
                    p.light.grey-text.text-lighten-3
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    a.waves-effect.waves-light.btn.btn_slider Download
                    a.waves-effect.waves-light.btn.btn_slider Learn more
        a.waves-effect.waves-light.btn.btn_round.btn_slider_lr.btn_slider_left(onclick="$('.slider').slider('prev');")
            i.fa.fa-angle-left
        a.waves-effect.waves-light.btn.btn_round.btn_slider_lr.btn_slider_right(onclick="$('.slider').slider('next');")
            i.fa.fa-angle-right
    .hide-on-med-and-up
        img.responsive-img(src="./images/land01.jpg")
        img.responsive-img(src="./images/land02.png")
        img.responsive-img(src="./images/land03.jpg")
        img.responsive-img(src="./images/land04.jpg")