section#feature.center-align
    .container
        h2 Summarise The Features
        h5 Summarise what your product is all about
        .row
            .col.s12.m3
                a(href="#")
                    p.btn_round.big_round
                        i.material-icons.large my_location
                    h6.text-black ATTRATIVE LAYOUT
                    p.text-black
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        | unknown printer took a galley of type and scrambled it to make a type specimen book. It
                        | has
            .col.s12.m3
                a(href="#")
                    p.btn_round.big_round
                        i.material-icons.large stay_current_portrait
                    h6.text-black ATTRATIVE LAYOUT
                    p.text-black
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        | unknown printer took a galley of type and scrambled it to make a type specimen book. It
                        | has
            .col.s12.m3
                a(href="#")
                    p.btn_round.big_round
                        i.material-icons.large email
                    h6.text-black ATTRATIVE LAYOUT
                    p.text-black
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        | unknown printer took a galley of type and scrambled it to make a type specimen book. It
                        | has
            .col.s12.m3
                a(href="#")
                    p.btn_round.big_round
                        i.material-icons.large chat_bubble_outline
                    h6.text-black ATTRATIVE LAYOUT
                    p.text-black
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        | unknown printer took a galley of type and scrambled it to make a type specimen book. It
                        | has
section#gallery.container.center-align
    h2 Show The Gallery
    h5 Summarise what your product is all about
    .row
        .col.s12.m3
            a(href="#")
                .item.square
                    span SCREENSHOTS
                p.text-black
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
        .col.s12.m3
            a(href="#")
                .item.square
                    span SCREENSHOTS
                p.text-black
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
        .col.s12.m3
            a(href="#")
                .item.square
                    span SCREENSHOTS
                p.text-black
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
        .col.s12.m3
            a(href="#")
                .item.square
                    span SCREENSHOTS
                p.text-black
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
section#action.center-align
    .row
        .col.s12.m6.offset-m3
            a(href="#")
                div
                    i.material-icons.medium.square play_arrow
                h2.hide-on-small-and-down Watch the best Technology in Action
                h4.hide-on-med-and-up Watch the best Technology in Action
                p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
section#price.container.center-align
    h1 Choose Your Price
    h5 Summarise what your product is all about
    .row
        .col.s12.m4
            .card.hoverable.text-green
                .title
                    | PROFESSIONAL PACKAGE
                .price.tr_green
                    | 25$
                .price_detail
                    ul
                        li Lorem Ipsum
                        li Lorem Ipsum
                        li Lorem Ipsum
                        li Lorem Ipsum
                    a.waves-effect.waves-light.btn.tr_green button
        .col.s12.m4
            .card.hoverable.text-blue
                .title
                    | PROFESSIONAL PACKAGE
                .price.tr_blue
                    | 25$
                .price_detail
                    ul
                        li Lorem Ipsum
                        li Lorem Ipsum
                        li Lorem Ipsum
                        li Lorem Ipsum
                    a.waves-effect.waves-light.btn.tr_blue button
        .col.s12.m4
            .card.hoverable.text-orange
                .title
                    | PROFESSIONAL PACKAGE
                .price.tr_orange
                    | 25$
                .price_detail
                    ul
                        li Lorem Ipsum
                        li Lorem Ipsum
                        li Lorem Ipsum
                        li Lorem Ipsum
                    a.waves-effect.waves-light.btn.tr_orange button
section#testimonial
    #testimonial_slider.slider.hide-on-small-and-down
        ul.slides
            li
                .caption.center-align
                    h1 Testtimonials 1
                    .content
                        a(href="#")
                            .box-5
                            .box-7
                                i.material-icons.medium perm_identity
                            .box-8
                        p.left-align
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                        p.right-align Lorem Ipsum is
            li
                .caption.center-align
                    h1 Testtimonials 2
                    .content
                        a(href="#")
                            .box-5
                            .box-7
                                i.material-icons.medium perm_identity
                            .box-8
                        p.left-align
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                        p.right-align Lorem Ipsum is
            li
                .caption.center-align
                    h1 Testtimonials 3
                    .content
                        a(href="#")
                            .box-5
                            .box-7
                                i.material-icons.medium perm_identity
                            .box-8
                        p.left-align
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                        p.right-align Lorem Ipsum is
    .hide-on-med-and-up
        .caption.center-align
            h4 Testtimonials 1
            div
                p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                p.right-align Lorem Ipsum is
        .caption.center-align
            h4 Testtimonials 2
            div
                p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                p.right-align Lorem Ipsum is
        .caption.center-align
            h4 Testtimonials 3
            div
                p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                p.right-align Lorem Ipsum is
section#download.center-align
    h1 Do you like this app ?
    a.waves-effect.waves-light.btn.tr_blue Download Now
section#contact
    .row
        .form_cover.col.s10.m2.offset-m5.offset-s1
            form(action="")
                h3 Contact
                input.square.center-align(type="text", placeholder="Placeholder")
                input.square.center-align(type="text", placeholder="Placeholder")
                input.square.center-align(type="text", placeholder="Placeholder")
                textarea(name="", id="", cols="30", rows="100")
                button.btn.waves-effect.waves-light(type="submit", name="action")
                    | Submit
                    i.material-icons.right send
