#mobile-divided
    .label-slide.hidden-xss-up
        .row
            .col-md-12
                #mobile-label-1.mobile-card
                    table
                        tr
                            td#lbl-header-1.header
                                .card-header.text-center
                                    h1 Promotion
                            td
                                .label-card
                                    img.card-bg(src="images/Asset-3.png")
                                    .card-content
                                        h1 REFER A FRIEND
                                        p to receive
                                        h1.percent 20% #[img.ml-1(src="images/OFF.png")]
                #mobilde-label-2.mobile-card
                    table
                        tr
                            td#lbl-header-2.header
                                .card-header.text-center
                                    h1.deal DEAL
                            td
                                .label-card
                                    img.card-bg(src="images/Asset-3.png")
                                    .card-content
                                        h2 3-Hour Full Body Pamper Package
                                        p.big Only
                                            h1.money #[small $] 99