include ../mixin/mixins
section#team
    .container
        .row
            .col-md-12.col-sm-12
                .section-title
                    strong 03
                    h1.heading.bold TALENTED TEAM
                    hr
            +mix02("0.9s","images/team1.jpg","Cindy","Senior Designer")
            +mix02("1.3s","images/team2.jpg","Mary","Core Developer")
            +mix02("1.6s","images/team3.jpg","Linda","Manager")
            +mix02("1.6s","images/team4.jpg","Sandar","Accountant")