include ../utility/mixins
footer
    .container
        .row
            .col-md-12.col-sm-12
                h2.wow.bounceIn ADVENTURE STUDIO
                +mixSocial()
                p Copyright &copy; 2016 Adventure Studio |  Design: #[a(rel="nofollow" href="#" target="_parent") Tooplate]