-
    var imgPath = "images/";
    var teamList = [
        {
            "name" : "George Chan",
            "position" : "Trip Planner",
            "img" : "team1.jpg"
        },
        {
            "name" : "Kitty Sandar",
            "position" : "Trip Manager",
            "img" : "team2.jpg"
        },
        {
            "name" : "Johnny Lynn",
            "position" : "Trip Explorer",
            "img" : "team3.jpg"
        }
    ]
section#team.parallax-section
    .container
        .row
            //Section title
            .col-md-offset-2.col-md-8.col-sm-offset-2.col-sm-8
                .section-title
                    h5.wow.bounceIn WE ARE READY
                    h1.heading OUR TEAM
                    hr
                    p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteu sunt in culpa qui officia deserunt.
            each val, index in teamList
                .col-md-4.col-sm-6.wow.fadeInUp(data-wow-delay=(0.9+index*0.3)+"s")
                    .team-wrapper
                        img(src=imgPath+val["img"] alt="team img").img-responsive
                        .team-des
                            h4=val["name"]
                            h3=val["position"]
                            +mixSocial