section#work.parallax-section
    .container
        .row
            //Section title
            .col-md-offset-2.col-md-8.col-sm-offset-2.col-sm-8
                .section-title
                    h5.wow.bounceIn Adventure Studio
                    h1.heading WHAT WE DO
                    hr
                    p Click on the adventure logo at the top to scroll up. Nullam a finibus dui. Nullam malesuada vitae odio et fringilla.
            //Work Owl Carousel section
            include ../component/carousel